<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.denghuo.course_manage.dao.SelectCourseDAO">
    <insert id="pickCourse">
        insert into sc (stu_id,course_id) values(#{stuId},#{courseId})
    </insert>

    <update id="reduceCourse" parameterType="String">
        update course set surplus = surplus - 1 where id = #{course_id}
    </update>

    <select id="getCourseByCondition" parameterType="map" resultType="CourseScoreVO">
        SELECT c.id, c.name ,sc.score,c.category,c.start_time,c.end_time,c.credit,c.check_type,c.study_type,c.teacher,c.place,c.time_week
         FROM sc,course as c where stu_id = #{courseScoreDTO.id} and sc.course_id = c.id
        <if test="courseScoreDTO.startTime!=null">
           and c.start_time>#{courseScoreDTO.startTime}
        </if>
        <if test="courseScoreDTO.category!=null">
            and c.category=#{courseScoreDTO.category}
        </if>
        <if test="courseScoreDTO.name!=null">
            and c.name like '%${courseScoreDTO.name}%'
        </if>
        limit #{startNum},#{pageSize}
    </select>

    <select id="getCourseTotalByCondition" parameterType="map" resultType="Double">
        SELECT count(*)
        FROM sc,course as c where stu_id = #{courseScoreDTO.id} and sc.course_id = c.id
        <if test="courseScoreDTO.startTime!=null">
            and c.start_time>#{courseScoreDTO.startTime}
        </if>
        <if test="courseScoreDTO.category!=null">
            and c.category=#{courseScoreDTO.category}
        </if>
        <if test="courseScoreDTO.name!=null">
            and c.name like '%${courseScoreDTO.name}%'
        </if>
    </select>

    <update id="setScoreByStu" parameterType="StuToCourse">
        update sc set score = #{score} where course_id = #{courseId} and stu_id  =#{stuId}
    </update>

    <delete id="removeCourse" parameterType="StuToCourse">
        delete from sc where stu_id = #{stuId} and course_id = #{courseId}
    </delete>

    <select id="stuExistCourse" parameterType="StuToCourse" resultType="Integer">
        select count(*) from sc where stu_id = #{stuId} and course_id =  #{courseId}
    </select>

    <select id="getStuByCourse"  resultType="StudentCourseVO">
        SELECT s.id stuId,s.`name` stuName,s.class_name className,c.`name` courseName,sc.score score,c.id courseId FROM   course c , student s , sc
        WHERE sc.course_id = c.id  and s.id = sc.stu_id
        and c.teacher_id = #{teacherId}
        <if test="courseName!=null">
            and c.`name`= #{courseName}
        </if>
        limit #{startNum},#{pageSize}
    </select>

    <select id="getStuByCourseTotal" parameterType="Course" resultType="Double">
        SELECT count(*) FROM   course c , student s , sc
        WHERE sc.course_id = c.id  and s.id = sc.stu_id
        and c.teacher_id = #{teacherId}
        <if test="courseName!=null">
            and c.`name`= #{courseName}
        </if>
    </select>

</mapper>