<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.denghuo.course_manage.dao.StudentDAO">
    <select id="getStuInfo" parameterType="map" resultType="Student">
        select id, name,college,major,class_name from student
        <trim prefix="where" prefixOverrides="and">
            <if test="student.id!=null">
                and id = #{student.id}
            </if>
            <if test="student.name!=null">
                and name = #{student.name}
            </if>
            <if test="student.college!=null">
                and college = #{student.college}
            </if>
            <if test="student.major!=null">
                and major = #{student.major}
            </if>
            <if test="student.class_name!=null">
                and class_name = #{student.class_name}
            </if>
        </trim>
        limit #{startNum},#{pageSize}
    </select>
    <update id="updateStuInfo" parameterType="Student">
        update student
        <trim prefix="set" suffix="where id = #{id}" prefixOverrides=",">
            <if test="name!=null">
                , name = #{name}
            </if>
            <if test="college!=null">
                , college = #{college}
            </if>
            <if test="major!=null">
                , major = #{major}
            </if>
            <if test="class_name!=null">
                , class_name = #{class_name}
            </if>
        </trim>
    </update>

    <delete id="deleteStuInfo" parameterType="int">
        delete from student where id = #{id}
    </delete>

    <insert id="insertStuInfo" parameterType="Student">
        insert into student
        (id
        <if test="name!=null">
            ,name
        </if>
        <if test="college!=null">
            ,college
        </if>
        <if test="major!=null">
            ,major
        </if>
        <if test="class_name!=null">
            ,class_name
        </if>
        <if test="password!=null">
            ,password
        </if>
        )
        values(#{id}
            <if test="name!=null">
                ,#{name}
            </if>
            <if test="college!=null">
                ,#{college}
            </if>
            <if test="major!=null">
                ,#{major}
            </if>
            <if test="class_name!=null">
                ,#{class_name}
            </if>
            <if test="password!=null">
                ,#{password}
            </if>
        )
    </insert>
</mapper>